.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fff;
}

.navbar-links {
  display: flex;
  gap: 3rem;
}

.navbar-links a {
  text-decoration: none;
  color: #251535;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.navbar-buttons button {
  background-color: #2E0C8C;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
}

/* .navbar-buttons button:hover {
  background-color: #fff;
  color: #2E0C8C;
  cursor: pointer;
} */